.dropdown-menu {
    position: relative;
    display: flex;
    align-items: center;
  }
  
.dropdown-menu-button {
background: none;
border: none;
cursor: pointer;
margin-right: 1em;
padding: 0;
font-size: 24px;
color: #333;
}

.dropdown-menu-content {
position: absolute;
top: 100%;
right: 0;
left:0;
width: 200px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
padding: 10px;
z-index: 1;
}

.dropdown-menu-content a {
display: block;
margin: 5px 0;
color: #333;
text-decoration: none;
}

.dropdown-menu-content a:hover {
color: #f00;
}
.boldtext{
  font-weight: bold;
}
@media screen and (max-width:768px) {
  .dropdown-menu {
    position: relative;
    display: flex;
    align-items: center;
  }
  
.dropdown-menu-button {
background: none;
border: none;
cursor: pointer;
padding: 0;
margin-right: 1em;
font-size: 24px;
color: #333;
}

.dropdown-menu-content {
position: absolute;
top: 100%;
right: 0;
width: 200px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
padding: 10px;
z-index: 1;
}

.dropdown-menu-content a {
display: block;
margin: 5px 0;
color: #333;
text-decoration: none;
}

.dropdown-menu-content a:hover {
color: #f00;
}

}
@media screen and (max-width:480px) {
  .dropdown-menu {
    position: relative;
    display: flex;
    align-items: center;
  }
  
.dropdown-menu-button {
background: none;
border: none;
cursor: pointer;
margin-right: 1em;
padding: 0;
font-size: 24px;
color: #333;
}

.dropdown-menu-content {
position: absolute;
top: 100%;
right: 0;
width: 200px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
padding: 10px;
z-index: 1;
}

.dropdown-menu-content a {
display: block;
margin: 5px 0;
color: #333;
text-decoration: none;
}

.dropdown-menu-content a:hover {
color: #f00;
}

}
