.header {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .logo {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  .products {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
  }
  
  .nav {
    display: flex;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    color: #f00;
  }
  